/*this lesson talking about css position

1 static position*/
.static {
    position: static;
    top: 50px;
    left: 50px;
    width: 200px;
    height: 200px;
    background-color: black;
    border: 2px solid green;
    padding-left: 10px;
    padding-top: 10px;
    
}