/*this lesson talking about css position

1 static position*/
.static {
    position: static;
    top: 50px;
    left: 50px;
    width: 200px;
    height: 200px;
    background-color: black;
    border: 2px solid green;
    padding-left: 100px;
    padding-top: 100px;
}

.relative {
    position: relative;
    top: 50px;
    left: 50px;
    width: 200px;
    height: 200px;
    background-color: black;
    border: 2px solid green;
    padding-left: 100px;
    padding-top: 100px;
}

.absolute {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 200px;
    height: 200px;
    background-color: rgb(207, 103, 103);
    border: 2px solid green;
    padding-left: 100px;
    padding-top: 100px;
}

.fixed {
    position: fixed;
    top: 50px;
    left: 50px;
    width: 200px;
    height: 200px;
    background-color: rgb(111, 248, 171);
    border: 2px solid green;
    padding-left: 100px;
    padding-top: 10 0px;
}