*{
    background-color: rgb(162, 98, 20);
}
h1{
    color: aqua;
    background-color: darkmagenta;
}
h3{
    color: rgb(6, 6, 6);
    background-color: rgb(228, 130, 174);
}
#pink{
    color: rgb(239, 7, 85);
}

#warm{
    color: rgb(245, 194, 99);
}
#orange {
    color: rgb(241, 131, 6);
}

#gray{
    color:rgb(3, 84, 107);
}
.color-title{
    font-size: small;
    font-weight: normal;
}
img{
    height: 200pt;
    width: 200pt;
    transition: all;
}
#pixel{
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold
}

#point{
    font-size: 1em;
}
#em {
    font-size: 1em;
}
#rem{
    font-size: 1em;
}