h1 ,h2{
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    
}
.box p {
    color: firebrick;
}

.box li {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}