h1 {
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
.box {
    color: firebrick;
}

.box li {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
.progress {
    color: firebrick;
    font-size: 3em;
    background-color: #000;
}